aerich==0.8.1
asyncpg==0.30.0
fastapi==0.115.6
pydantic==2.10.5
pydantic-settings==2.7.1
uvicorn==0.34.0
requests==2.32.3
aioredis==2.0.1
fastapi-admin==1.0.4
sentry-sdk[fastapi]==2.20.0
httpx==0.28.1
opentelemetry-instrumentation-fastapi
logfire[fastapi]==3.1.1
tortoise-orm==0.23.0
tortoise-cli

# Look at all the Google libraries we need to install.
google==3.0.0
google-api-core==2.24.0
google-api-python-client==2.159.0
google-auth==2.37.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.66.0
