tortoise-orm[asyncpg]==0.20.0
aerich==0.7.2
fastapi==0.108.0
pydantic==2.5.3
pydantic-settings==2.1.0
uvicorn==0.25.0
requests==2.31.0
aioredis==2.0.1
fastapi-admin==1.0.4
sentry-sdk[fastapi]==1.40.0
httpx==0.26.0
opentelemetry-instrumentation-fastapi
--extra-index-url https://files.logfire.dev/NOdO2jZhxNh8ert5YFYfWkFa9IBVsT7Jher4y8sh6YlXSb9V1d/wheels/
logfire[fastapi]==0.11.1

# Look at all the Google libraries we need to install.
google==3.0.0
google-api-core==2.17.0
google-api-python-client==2.116.0
google-auth==2.27.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.62.0
